body {
    font-family: Cambria, sans-serif;
    margin: 20px;
    background-color: #196940;
    color: white;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    padding: 15px;
    border: 4px solid white;
}

#feedback-form {
    width: 350px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
}

#feedback-display {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #333;
}

.tooltip {
    background: #333;
    color: white;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 4px;
    display: none;
}